/* Navbar */
.nav_bar {
    background-color: transparent;
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    z-index: 10;
    transition: all 0.4s ease-in-out;
    background-color: black;
}

.nav_bar > img {
    height: 70%;
    margin-right: 20rem;
    transition: height 0.2s ease-in-out;
}

.nav_buttons {
    display: flex;
    list-style: none;
    width: 30rem;
    justify-content: center;
}

.nav_buttons > .nav_item {
    padding: 0.5rem 1rem;
    font-size: large;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.logout_btn{
    padding: 0.5rem 1rem;
    font-size: large;
    letter-spacing: 1px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.logout_btn:hover{
    cursor: pointer;
}

.nav_link {
    color: white;
    text-decoration: none;
}

/* Active navigation button styling */
.active_nav_button {
    border-radius: 8px;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.active_nav_button .nav_link {
    color: #e74c3c;
}

/* Hover effect */
.nav_buttons > .nav_item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
